@import 'styles/colors';
@import 'styles/grid';

.invoice-list {
  position: relative;

  &__container {
    @include container;
  }

  &__dropbox {
    border: 5px dashed $lightash;
    padding: 2rem;

    &--is-dragging {
      border-color: $softgreen; 
    }
  }
}