@import 'styles/colors';

.invoice {
  background: $white;
  border: 1px solid $lightash;
  margin-bottom: 1rem;
  padding: 2rem;

  &__form {
    align-items: flex-end; 
    display: flex;
    justify-content: space-between;    
  }

  &__files {
    margin-top: 1rem;
  }

  &__file-title-legend {
    margin-bottom: .5rem;
  }

  &__recipient {
    display: none;

    &--is-populated {
      display: block;
    }
  }
}