@import 'styles/colors';

@mixin button {
  border: 0;
  border-radius: 5px;
  background: $royal;
  color: $white;
  font-weight: 300;
  font-size: 1rem;
  padding: 1rem;
  -webkit-appearance: none;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    background: $lightash;
    cursor: default;
  }
}
